<ion-header>
  <ion-toolbar>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 class="ion-text-center">OFFRES DE VENTE</h5>
  <ion-card *ngFor="let item of dbContent; let i = index" color="dark" class="ion-margin">
    <ng-container *ngIf="item.type_offre == 'vente'">
    <img src="http://dcm5.xyz/agence_immo/uploads/{{ item.photo_0 }}">
    <ion-card-header>
      <ion-item class="fav-icon" (click)="toggleHeart()" color="dark"><ion-icon [name]="heartType"></ion-icon></ion-item>
      <ion-card-subtitle *ngIf="item.type_offre == 'vente'">À VENDRE</ion-card-subtitle>
      <ion-card-title>{{ (item.type_bien).charAt(0).toUpperCase() + (item.type_bien).slice(1) }} à {{ item.commune }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ (item.descriptif_bien).substring(0, 100) }}...</ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-around card-maison-caracs">
        <ion-col size="3">{{ item.surface_bien }}m²</ion-col>
        <ion-col *ngIf="item.type_offre == 'vente'" size="3">{{ item.prix_vente }}€</ion-col>
        <ion-col size="3">{{ item.nbr_pieces }} pièces</ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" class="ion-margin" color="warning" (click)="openModal(item.id)">VOIR L'OFFRE</ion-button>
  </ng-container>
  </ion-card>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-icon name="arrow-up-outline" slot="start" class="ion-padding hover-pointer" style="font-size: 1.5em;" (click)="backToTop()"></ion-icon>
      <ion-title size="small" class="mainTitle hover-pointer" mode="md" (click)="backToTop()">Retour en haut</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
