#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#grid-connexion {
  height: 300px;
}

#row-connexion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
} 

.one-line {
  &:before,
  &:after {
     background: #cccccc;
  }
}

.deja {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

.offres-recentes {
  margin-top: 40px;
}